*{
  margin:0 ;
}
.App{
  background-color: #fafafa;
  /* width: 100%; */
 
}
.app__posts{
  padding: 20px;
  /* margin-left: 10px; */
  display: flex;
  justify-content: center;
  
}
.Dev_info{
  margin: 20px;
}

.app__InstaEmbed{
  margin: 20px;
  justify-content: center;
  margin-left: 50px;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__headerImage{
  font-family: 'Pacifico', cursive;
  object-fit: contain;
}
.welcomeText{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: 100;  
}
.app__signup
{
  display: flex;
  text-align: center;
  flex-direction: column;
}